<h1> <%= @topic.title %> </h1>
<%= link_to 'Add a Note', new_subject_topic_note_path(@subject, @topic) %>

<ul class='col-xs-10 col-xs-offset-1'>
<% @topic.notes.each do |note| %>
    <li class='note col-xs-4 col-xs-offset-1'> <%= note.title %>
    <p> <%= link_to note.url, note.url %> </p>
    <p> <%= note.information %> </p> </li>
<% end %>
</ul>
<br  />
